@model IEnumerable<cima.Model.FavoriteMovieViewModel>
    <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

@{
    ViewBag.Title = "Movies List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Any() == false)
{<body>

    <h2>No Movies to favorite</h2>
</body>

}
else
{
    <body>
    <h2>Movies to favorite</h2>

<table id="movies" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.MovieGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.releaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.movieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.movieYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.movieSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.starring)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.creator)
        </th>
    </tr>

@foreach (var item in Model)
{

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.userName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.MovieGenre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.releaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.movieName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.movieYear)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.movieSeason)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.starring)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.creator)
    </td>

    
    <td>

        @if (item.isfav)
        {
         <a href="@Url.Action("Unfavoritesm", "Movies", new { id = item.Movie.movieid }) " class="favlink">

                  <i class="ful fas fa-star"></i>
        </a>
        }
        else { 
            <a href="@Url.Action("Favorites", "Movies", new { id = item.Movie.movieid }) " class="favlink">

                <i class="emp far fa-star"></i>

            </a>
        }

    </td>

    <td>
        <a href="@Url.Action("New", "MoviesFeedBacksViewModel", new { id = item.Movie.movieid }) " class="">
            <i class="com far fa-comment-lines"></i>

        </a>
    </td>




</tr>

}

</table>
        </body>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#movies").DataTable();

            
        });

        /*$(function () {
            if () {
                $(".fav").toggleClass('fav far fa-star').toggleClass('fav fas fa-star');
            }
            else
                $(this).find($(".fav")).toggleClass('fav fas fa-star').toggleClass('fav far fa-star');
        });*/

        /*$(".favlink").on("click", function () {
            $(this).find($(".fav")).toggleClass('fav far fa-star').toggleClass('fav fas fa-star');
        });*/

        /*$(".favlink").on("click", function () {
          if (true) {
                $(this).find($(".fav")).toggleClass('fav far fa-star').toggleClass('fav fas fa-star');
                    }
                    else
                $(this).find($(".fav")).toggleClass('fav fas fa-star').toggleClass('fav far fa-star');
                
        });*/

    </script>
}

    <style>
        .emp {
            font-size: 40px;
            color: gold;
            opacity: 0.7;
        }

        .ful {
            font-size: 40px;
            color: gold;
            opacity: 1;
        }

        .com {  
            font-size: 40px;
            color: blue;
            opacity: 0.7;
        }

        .emp:hover {
            opacity: 1;
        }

        .ful:hover {
            opacity: 0.7;
        }

        
    </style>

   





