@model IEnumerable<cima.Model.Movie>
    <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

@{
    ViewBag.Title = "Movies List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Any() == false)
{<body>

    <h2>No Movies to favorite</h2>
</body>

}
else
{
    <body>
    <h2>Movies to favorite</h2>

<table id="movies" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.releaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.starring)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.userName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MovieGenre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.releaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.movieName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.movieYear)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.movieSeason)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.starring)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.creator)
    </td>
    <td>

        <a href="@Url.Action("Favorites", "Movies", new { id = item.movieid }) " class="favlink">
            <i class="fav far fa-star"></i>

        </a>
    </td>
    <td>
        <a href="@Url.Action("New", "MoviesFeedBacksViewModel", new { id = item.movieid }) " class="">
            <i class="com far fa-comment-lines"></i>
            
        </a>
    </td>




</tr>

}

</table>
        </body>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#movies").DataTable();
        });

        $(".favlink").on("click", function () {
            $(this).find($(".fav")).toggleClass('fav far fa-star').toggleClass('fav fas fa-star');


        });
    </script>
}

    <style>
        .fav {
            font-size: 40px;
            color: gold;
            opacity: 0.7;
        }

        .com {  
            font-size: 40px;
            color: blue;
            opacity: 0.7;
        }

        i:hover {
            opacity: 1;
        }

        
    </style>

   
}




