@model cima.Model.Showtime

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Showtime</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.movieId, "movie Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                    @Html.DropDownList("movieId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.movieId, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.day, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.day, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.day, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.time1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.time1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.time1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.time2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.time2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.time2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.time3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.time3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.time3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.time4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.time4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.time4, "", new { @class = "text-danger" })
            </div>
        </div><br/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
                <a href="@Url.Action("Index", "Showtimes") " class="btn btn-outline-primary">
                    <i class="icon-pencil icon-white"></i>
                    <span>
                        <strong>Back</strong>
                    </span>
                </a>
            </div>
        </div>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
