@model IEnumerable<cima.Model.Favorite>
<link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">


@{ ViewBag.Title = "Favorites Movies";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>My Favorite Movies</h2>
@if (Model.Any() == false)
{
    <hr />
    <h3>You do not have favorite movies</h3>

}
else
{
    <hr/>
    <h3 class="hiddenh2"></h3>
<table id="movies" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.movieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.userName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <a href="@Url.Action("Movietime", "Showtimes", new { id = item.Movie.movieid })">
            @Html.DisplayFor(modelItem => item.Movie.movieName)
        </a>
    </td>
    <td >
        @Html.DisplayFor(modelItem => item.Movie.userName)
    </td>

    <td class="tdf">
        <button data-movie-id="@item.Movie.movieid" class="js-delete">

            <i class="fav fas fa-star"></i>

        </button>
    </td>
    <td class="tdf">
        <a href="@Url.Action("New", "MoviesFeedBacksViewModel", new { id = item.Movie.movieid }) " class="">
            <i class="com far fa-comment-lines"></i>
        </a>
    </td>



</tr>}

</table>

<style>
    .fav {
        font-size: 40px;
        color: gold;
        opacity: 1;
        
    }

    .com {
        font-size: 40px;
        color: blue;
        opacity: 0.7;
    }

    .fav:hover {
        opacity: 0.7;
    }

    .com:hover {
        opacity: 1;
    }

    .tdf{
        width:55px;
    }

    button {
        background-color: transparent;
        border: none;
    }
</style>


}


@section scripts
{
    <script>

        $(document).ready(function () {
            //$("#movies").DataTable();

            $("#movies .js-delete").on("click", function () {
                var link = $(this);
                    $.ajax({
                        url: "/api/favorites/" + link.attr("data-movie-id"),
                        method: "DELETE",
                        success: function () {
                            link.parents("tr").remove();
                            var rows = $('#movies tr').length;
                            if (rows == 1) {
                                $("#movies").hide();
                                $(".hiddenh2").text('You do not have favorite movies')
                                

                            }

                            
                        }
                    });
            });
        });
    </script>
}