@model IEnumerable<cima.Model.Favorite>

@{
    ViewBag.Title = "Favorites Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Favorite Movies</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.movieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.userName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.movieName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.userName)
    </td>
    <td>
   
        <a href="@Url.Action("Unfavorites", "Favorites", new { id = item.Movie.movieid }) " class="btn btn-primary">
            <i class="icon-pencil icon-white"></i>
            <span>
                <strong>Unfavorite</strong>
            </span>
        </a>

    </td>
    
</tr>
}

</table>
