@model cima.Model.FeedBack

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FeedBack</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.movieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.movieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("NormalAccount"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.feedBackId })
    }
    
    @Html.ActionLink("Back to List", "Index")
</p>
