@model IEnumerable<cima.Model.FeedBack>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies FeedBack</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.movieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.movieName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.feedBackId }) |
            @Html.ActionLink("Details", "Details", new { id=item.feedBackId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.feedBackId })
        </td>
    </tr>
}

</table>
