@model IEnumerable<cima.Model.FeedBack>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Any() == false)
{
    <h2>You do not have feedback yet</h2>

}
else
{
    <h2>My Feedbacks</h2>


    <table id="feedbacks" class="display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.movieName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.userName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userName)
                </th>
                @if (User.IsInRole("NormalAccount"))
                {
                    <th>
                        Edit
                    </th>
                }

                @if (User.IsInRole("NormalAccount"))
                {
                    <th>
                        Delete
                    </th>
                }
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.movieName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    @if (User.IsInRole("NormalAccount"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.feedBackId })
                        </td>
                    }

                    @if (User.IsInRole("NormalAccount"))
                    {
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.feedBackId })
                        </td>
                    }
                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.feedBackId })
                    </td>

                </tr>
            }
        </tbody>

    </table>

}

@section scripts
{

    <script>
        $(document).ready(function () {
            $("#feedbacks").DataTable();
        });
    </script>
}


