<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
 <div class="container">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 </button>
 <div class="headimg"></div>
 <a class="navbar-brand" href="/">Cima</a>
 <div class="navbar-collapse collapse" id="navbarSupportedContent">
     <ul class="nav navbar-nav mr-auto">
         <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
         <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
         <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>

         <li class="nav-item"><a href="/Feedbacks/Index" class="nav-link">FeedBacks</a></li>

         <li class="nav-item"><a href="/MostFavoriteViewModel/Mostfavorite" class="nav-link">Rank</a></li>

         @if (User.IsInRole("applicationAdmin") || User.IsInRole("CinemaAccount"))
         {
 <li class="nav-item"><a href="/Movies/List" class="nav-link">Upcoming Movies</a></li>
                 <li class="nav-item"><a href="/Showtimes/Index" class="nav-link">Current Movies</a></li>
 }
             else
             {
 <li class="nav-item"><a href="/Movies/List" class="nav-link">Movies</a></li>
                 <li class="nav-item"><a href="/Showtimes/Index" class="nav-link">Movies Showtime</a></li>
                                 <li class="nav-item"><a href="/Favorites/List" class="nav-link">My Favorites</a></li>
}

     </ul>
     @Html.Partial("_LoginPartial")
 </div>
 </div>
</nav>
    <br />
<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - By Hadi Hakim</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .headimg {
        background-image: url(../../Images/head_img.png);
        background-position: center;
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        width: 7vw;
        height: 7vh;
        background-color: transparent;
    }

    
</style>
